/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-white{
    background-color: white;
}
.bg-bordoux{
    background-color: rgb(197, 42, 76);
}
.bordoux{
    color: rgb(197, 42, 76);
}

.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.center{
    justify-content: center;
    align-content: center;
}
.evenly{
    justify-content: space-evenly;
}
.col-30{
    flex-basis: 30% ;
}
.col-40{
    flex-basis: 40%;
}
.col-60{
    flex-basis: 60%;
}
.margin-y{
    margin: 0px 10%;
}
.padding-30y{
    padding: 0px 30px;
}
.gap-10{
    gap: 10px;
}
.gap-30{
    gap: 30px;
}
.calcola-prezzo{
    border-radius: 20px;
    padding: 20px 30px;
}
.titolo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid gray;
    
    color: rgb(197, 42, 76);
    padding: 5px;
}
.border{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
input{
    border-radius: 6px;
    
    border: 1px solid rgb(197, 42, 76);
}